<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <h1>Add a new place you visited</h1>

    <form action="/places" method="post">
      
      <p>
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
      </p>

      <button>Submit</button>

    </form>

  <p>
    <br><br>
    <a href="/places">Back to all Places</a>
  </p>  

</body>

</html>
