<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>
    <% @place["name"] %>
  </h1>

  <p> 
    <br> This part will appear in Part 2 <br>
  </p>  
</body>

</html>



